[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/o-ran-sc-gerrit-github-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	label-Code-Review = deny -2..+2 group Release Engineering Team
	submit = deny group Release Engineering Team

[submit-requirement "Code-Review"]
	submittableIf = is:true
	applicableIf = is:true
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	submittableIf = is:true
	applicableIf = is:true
	canOverrideInChildProjects = true
